<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="TGGBuilderExtension" name="TGGBuilderExtension" schema="schema/TGGBuilderExtension.exsd"/>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.emoflon.org/ibex/tgg/editor/TGG"
			class = "org.emoflon.ibex.tgg.editor.tgg.TggPackage"
			genModel = "model/generated/TGG.genmodel" />
	</extension>
</plugin>
