<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
      </builder>
   </extension>
   <extension
         point="org.moflon.core.ui.DiagramTextProvider">
      <diagram_text_provider
            class="org.emoflon.ibex.tgg.editor.ide.visualisation.IbexTGGVisualiser">
      </diagram_text_provider>
   </extension>
   <extension
         id="nature"
         name="TGG Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.emoflon.ibex.tgg.editor.ide.admin.TGGNature">
         </run>
      </runtime>
      <builder
            id="org.emoflon.ibex.tgg.editor.ide.admin">
      </builder>
   </extension>

</plugin>
