<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.emoflon.org/ibex/tgg/integrate/Integrate"
			class = "org.emoflon.ibex.tgg.integrate.integrate.IntegratePackage"
			genModel = "model/generated/Integrate.genmodel" />
	</extension>
</plugin>
